* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: rgb(7, 15, 62);
}

nav {
    display: flex;
    ;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

#nav-menu {
    height: 50px;
    padding: 10px 10%;
    background-color: blueviolet;
}

.nav {
    position: fixed;
    z-index: 1;
    width: 100%;
}
#sidemenu{
    display: flex;
    justify-content: space-between;
    
}
